{% extends 'base.html' %}

{% block title %}
  Single Recipe
{% endblock %}

{% block content %}
<main class="page">
  <div class="recipe-page">
    <section class="recipe-hero">
      <img
        src="{{ url_for('api.fetch_images', filename=recipe['info']['thumbnail']) }}"
        class="img recipe-hero-img"
      />
      <article class="recipe-info">
        <h2>{{ recipe['info']['title'] }}</h2>
        <p>
          {{ recipe['info']['description'] }}
        </p>
        <div class="recipe-icons">
          <article>
            <i class="fas fa-clock"></i>
            <h5>prep time</h5>
            <p>{{ recipe['info']['prep-time'] }} min.</p>
          </article>
          <article>
            <i class="far fa-clock"></i>
            <h5>cook time</h5>
            <p>{{ recipe['info']['cook-time'] }} min.</p>
          </article>
          <article>
            <i class="fas fa-user-friends"></i>
            <h5>serving</h5>
            <p>{{ recipe['info']['servings'] }} servings</p>
          </article>
        </div>
        <p class="recipe-tags">
          Tags : {% for tag in recipe['info']['tags'] %}<a href="tag-template.html">{{ tag }}</a>{% endfor %}
        </p>
      </article>
    </section>
    <!-- content -->
    <section class="recipe-content">
      <article>
        <h4>instructions</h4>
        {% for instruction in recipe['instructions'] %}
          <!-- single instruction -->
          <div class="single-instruction">
            <header>
              <p>{{ instruction['title'] }}</p>
              <div></div>
            </header>
            <p>
              {{ instruction['body'] }}
            </p>
          </div>
          <!-- end of single instruction -->
        {% endfor %}
      </article>
      <article class="second-column">
        <div>
          <h4>ingredients</h4>
          {% for ingredient in recipe['ingredients'] %}
            <p class="single-ingredient">{{ ingredient }}</p>
          {% endfor %}
        </div>
        <div>
          <h4>tools</h4>
          {% for tool in recipe['tools'] %}
            <p class="single-tool">{{ tool }}</p>
          {% endfor %}
        </div>
      </article>
    </section>
  </div>
</main>
{% endblock %}
