{% extends 'base.html' %}

{% block title %} Simply Recipes {% endblock %}

{% block content %}
<main class="page">
  <!-- hero section -->
  <section class="hero-section">
    <div class="hero-container">
      <div class="hero-text">
        <h1>Simply Recipes</h1>
        <h4>Recipes, from humans for humans</h4>
      </div>
    </div>
  </section>
  <!-- end of hero section -->

  <!-- recipes section -->
  <section class="recipes-container">
    <!-- tags container -->
    <div class="tags-container">
      <h4>recipes</h4>
      <div class="tags-list">
        <!-- no tags -->
        {% if not tag_data %}
        <p class="no-tags">No Tags</p>
        {% endif %}
        <!-- end of no tags -->

        <!-- tags loop -->
        {% for tag in tag_data %}
        <a
          href="{{ url_for('public.tags', q=tag.tag) }}"
          class="tag-url {% if tag.count == 0 %}tag-zero{% endif %}"
          >{{ tag.title }} ({{ tag.count }})</a
        >
        {% endfor %}
        <!-- end of tags loop -->
      </div>
    </div>
    <!-- ends of tag container -->

    <!-- recipes list -->
    <div class="recipes-list">
      <!-- generate templates-->
      {% for recipe in recipes_data %}
      <!-- single recipe -->
      <a
        href="{{ url_for('public.recipe', id=recipe['id'], title=recipe['url-title']) }}"
        class="recipe"
      >
        <!-- Keep this space (auto formater dumps all into one line (╯°□°)╯︵ ┻━┻) -->
        <img
          src="{{ url_for('api.fetch_images', filename=recipe['thumbnail']) }}"
          alt="{{ recipe['alt-text'] }}"
          class="img recipe-img"
        />
        <h5>{{ recipe['title'] }}</h5>
        <p>
          Prep : {{ recipe['prep-time'] }}min | Cook {{ recipe['cook-time']
          }}min
        </p>
      </a>
      <!-- end of single recipe -->
      {% endfor %}
    </div>
    <!-- ends of recipes list -->
  </section>
  <!-- end of recipes section -->
</main>
{% endblock %}
